/* navbar section */
.nav-item a {
  color: gray;
  padding: 0px 10px;
}

.nav-item a:hover {
  color: #555555;
  text-decoration: none;
  padding: 0px 10px;
}

.nav-current.nav-item a{
  color: #000000;
  text-decoration: none;
  padding: 0px 10px;
}

/*  banks section */
.bank-card {
  margin: 10px;
  padding: 5px;
  height: 23vh;
  box-shadow: 4px 3px 8px 1px #969696;
  -webkit-box-shadow: 4px 3px 8px 1px #969696;
}

.bank-card:hover {
  margin: 10px;
  padding: 5px;
  height: 23vh;
  box-shadow: 4px 3px 8px 1px #5a5a5a;
  -webkit-box-shadow: 4px 3px 8px 1px #5a5a5a;
}